.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color:  white;
  background: linear-gradient(var(--uranian-blue), var(--royal-purple));
  padding-bottom: 10px;
  flex-direction: column;
}

#light {
  background: linear-gradient(var(--uranian-blue), var(--royal-purple));;
}

#dark {
  background: linear-gradient(var(--royal-purple), var(--vista-blue));;
}

footer {
  top: 50px;
  left: 100px;
  padding: 20px;
  margin: 10px 10px 10px 10px; 
}

ul {
  list-style-type: none;
}

:root{
  --uranian-blue: #a0ddffff;
  --vista-blue: #758ecdff;
  --periwinkle: #c1cefeff;
  --cornflower-blue: #7189ffff;
  --royal-purple: #624cabff;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
  font-family: 'Roboto Slab', serif;
}


@keyframes fadeEffect {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Standard location for Anthology title*/
@media screen and (min-width: 1300px) {
  .app-Title {
    /* Placeholder font from Google Fonts, we can pick one later */
    /*@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');*/
    animation: fadeEffect 2s;
    /*font-family: 'Libre-Baskerville', serif;*/
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 60px;
    position: fixed; top:35%; left: 5%; /* Allows title to scroll down the page with user */
  }
}

/* Centers title in top-middle of Login/Register form when screen is below certain size*/
@media screen and (max-width: 1299px) {
  .app-Title {
    /* Placeholder font from Google Fonts, we can pick one later */
    /*@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');*/
    animation: fadeEffect 2s;
    /*font-family: 'Libre-Baskerville', serif;*/
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 30px;
    position: absolute; top:20px ; /*left: 40%;*/ left: calc(50% - 85px);
  }
}


