:root {
  --uranian-blue: #a0ddffff;
  --vista-blue: #758ecdff;
  --periwinkle: #c1cefeff;
  --cornflower-blue: #7189ffff;
  --royal-purple: #624cabff;
}

.profileContainer {
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px;
  /* background-color: white; */
  /* color: black; */
  /* width: 300px;
    height: 600px; */
}
/* 
#light.profileContainer {
  background-color: white;
  color: black;
}

#dark.profileContainer {
  background-color: black;
  color: white;
} */



.dark-mode {
  background-color: black;
  color: white;
}

.profilePicture {
  border-radius: 50px;
}

.userPic {
  width: 70px;
  height: 70px;
}

.editpfp {
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: 5px;
}

.quill {
  /* padding-right: 12px;
  padding-bottom: 10x; */
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; */
  align-self: center; 
}

.names  {
  padding: 5px;
  display: flex;
  flex-direction: column;

}

form {
  display: block;
  margin-top: 0em;
}


.blurb {
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
}

.editblurb {
  border-radius: 50%;
  align-items: center;
  width: 5px;
  height: 5px;
}


.socialMedia {
  padding: 10px;
  border-radius: 2px;
  display: flex;
}



.settings {
  border-color: white;
  border-radius: 10px;
  padding: 10px;
}

.names input[type="text"]  {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  justify-content: center;
  display:flex;

}

.cog {
  padding-left: 10px;
}

.languageSelect {
  text-align: left;
  padding: 5px;
}

.languages {
  padding-right: 10px;
}

.lightDarkMode {
  padding: 5px;
  text-align: left;
}

.sun {
  padding-left: 5px;
  padding-right: 10px;
}

.moon {
  padding-left: 10px;
}

.autoplayOption {
  text-align: left;
  padding-left: 5px;
  padding-right: 10px;
}

.speaker {
  padding-left: 5px;
  padding-right: 10px;
}

.publicPrivateMode {
  text-align: center;
  padding: 5px;
}

.publicPrivateMode button {
  padding: 15px;
  margin: 10px;
}

.public {
  padding-right: 5px;
}

.private {
  padding-left: 5px;
}







.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a0ddffff;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #7189ffff;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}