.friends-container {
    text-align: center;
    justify-content: space-around;
    
}

.fake-navbar {
    background-color: var(--cornflower-blue);
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.app-title {
    /*@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');*/
    /*font-family: 'Libre-Baskerville', serif;*/
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;&display=swap');
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: #fff;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


.poem-view {
    position: relative;
    display: block;
    flex-direction: column-reverse;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    font-size: 25px;   
}


/* I'd like to replace this with some sort of loading wheel in the future, 
 * think that would be better 
 */
.load-msg { 
    border: none;
    margin: none;
    padding: 0px;
    font-size: 20px;
}