/* :root{
  --uranian-blue: #a0ddffff;
  --vista-blue: #758ecdff;
  --periwinkle: #c1cefeff;
  --cornflower-blue: #7189ffff;
  --royal-purple: #624cabff;
  --body_color: black; 

}

[data-theme = "dark"]{
  --body_background:var(--royal-purple)
  /* --body_color: var(--cornflower-blue);  */
  /* --body_color: var(--white) 
} */ 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}
