.widget-container {
    display: flex;
    align-items: center;
    gap: 50px;
    max-height: 35em;
}

.top-bar {
    display: flex;
}

.data-container {
    display: flex;
    align-items: center;
    gap: 20px;
    max-height: 30em;
    padding: 3px 10px 10px 10px;
    border-bottom: 1px solid gray;
    border-radius: 10px;
}

.poem {
    min-width: 24em;
}

.comments-container {
    height: 25em;
    gap: 20px;
    display: grid;
    overflow: scroll;
}

.colored-block {
    min-height: fit-content;
    justify-items: center;
}

.user-interactive-container {
    border-radius: 10px;
    min-width: 25em;
    max-width: 25em;
    min-height: 32em;
    background-color: rgba(255, 255, 255, 0.911);
    color: black;
    padding: 20px;
    position: relative;
}

.profile-picture {
    border-radius: 100px;
    max-width: 70px;
    max-height: 70px;
}

.input-container {
    align-items: center;
    display: flex;
    padding: 3px 10px 3px 10px;
    bottom: 5px;
    position: absolute;
}

.button-container {
    display: flex;
    gap: 10px;
}

.author {
    display: grid;
    margin: 5px 10px;
    gap: 5px;
    align-items: left;
    text-align: left;
}

.button-icon {
    font-size: 1.3em;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
    margin: 10px;
}

.author p {
    margin: 0px;
}

.comment-input {
    min-width: 22em;
}

.comment {
    display: grid;
    text-align: left;
}

.name-and-comment {
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    transition: ease-in 0.1s;
    overflow-wrap: break-word;
}

.name-and-comment p {
    margin: 2px;
}

.name-and-comment a {
    color: black;
    text-decoration-style: none;
}

.comment-button-container {
    position: absolute;
    right: 10px;
}

.comment-icon {
    padding: 5px;
    position: relative;
    color: black;
    margin: 1px;
    background: none;
}

.comment-input-container {
    display: grid;
    border-top: 1px solid gray;
    border-radius: 10px;
}

.reply-context p {
    margin: 5px;
}

.comment-container {
    display: flex;
    position: relative;
}

.replies-header {
    color: rgb(73, 73, 73);
    font-size: 0.8em;
}

.replies-container {
    margin-left: 20px;
    display: grid;
    position: relative;
}

.replies-container .name-and-comment {
    padding-top: 0px;
    padding-bottom: 0px;
}

.name-and-replies {
    display: grid;
    position: relative;
    width: 100%;
}