:root{
    --uranian-blue: #a0ddffff;
    --vista-blue: #758ecdff;
    --periwinkle: #c1cefeff;
    --cornflower-blue: #7189ffff;
    --royal-purple: #624cabff;
    --gold: #FFFF66;
}


.viewer{
    padding: 50px;
    border: 10px solid var(--uranian-blue);
    background-color: var(--vista-blue);
    border-radius: 20px;
}

.highlighted{
    border: 10px solid var(--gold);
    border-radius: 10px;
    box-shadow: 0px 0px 8px 10px #888888;
}

.dot {
    height: 25px;
    width: 25px;
    position:relative;
    top:-20px;
    background-color: var(--uranian-blue);
    border-radius: 50%;
    display: inline-block;
  }

.label{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.inputf {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    outline: none;
  }

/* Styling for poem tags */
.poem-tags {
    margin-bottom: 20px;
    text-align: left;
  }
  
/* Styling for each poem tag */
.poem-tag {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}
  
/* Styling for poem tag links */
.poem-tag-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(235, 232, 232);
    color: black;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
}

/* Styling for poem blocks */
.colored-block {
  background-color: #055c6b;
  padding: 20px;
  margin-bottom: 0px;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.light-block {
  background-color: #fff;
  padding-bottom: 5px;
  margin-bottom: 0px;
  height: 85px;
  border-radius: 0 0 10px 10px;
  right: 0;
}

.bookmark-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  background: none;
  padding: 0px;
  color: white;
}

.bookmark-icon:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.poem {
  margin: 20px;
  border-radius: 10px;
  width: 350px;
}

/* Styling for poem titles */
.poem h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

/* Styling for poem authors */
.poem .username {
  display: flex;
  margin-top: 4px;
  margin-bottom: 0px;
  color: black;
  text-align: left;
  margin-left: 5px;
}

/* Styling for poem buttons */
.buttons {
  display: flex;
  margin: 0 10px;
  align-items: center;
  color: black;
}

/* Styling for poem icons */
.poem .button-icon {
  margin: 0 5px 0 10px;
  font-size: 1.1em;
  color: black;
  padding: 0px;
}

.poem .button-icon:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

/* Styling for poem likes, comments, shares */
.poem .likes, .poem .comments, .poem .shares {
  display: flex;
  margin-left: 10px;
  color: black;
  width: 100px;
  justify-content: top;
  align-items: center;
}
.profile-info {
  display: flex;
  align-items: center;

}
.profile-icon {
  color: black;
  font-size: 2rem;
  margin-right: 5px;
  justify-content: center;
  padding: 10px;
}

a {
  color: white;
}

button .button-icon {
  background-color: rgba(255, 255, 255, 0);
  padding: 0px;
  margin: 0px;
}

/* .speaker {
  display: flex;
  margin-left: 10px;
  color: black;
  width: 100px;
  justify-content: top;
  align-items: center;
} */