/* A lot of this code is provided in the react-burger-menu docs 
 * which can be found here: https://www.npmjs.com/package/react-burger-menu
 */


 /* DONT TOUCH */
#outer-container {
    justify-self: left;
    align-self: left;
    position: absolute;
    top: 0px;
    left: 0px;
}

.bm-burger-button {
    position: fixed;
    width: 25px;
    height: 20px;
    left: 25px;
    top: 25px;
}

.bm-burger-bars {
    background: #fff;
}

.bm-burger-bars-hover {
    background: #373a47;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #373a47;
}

/*
 * Sidebar wrapper styles
 * Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
 */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-menu {
    background: linear-gradient(var(--cornflower-blue), var(--royal-purple));
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* 
 * Required if we want to change the animation of the sidebar
 */
.bm-morph-shape {
    fill: #158994;
}

.bm-item-list {
    padding: 0.8em;
}

.bm-item {
    display: inline-block;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
}

.bm-item:hover {
    text-decoration: underline;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}