:root {
    --uranian-blue: #a0ddffff;
    --vista-blue: #758ecdff;
    --periwinkle: #c1cefeff;
    --cornflower-blue: #7189ffff;
    --royal-purple: #624cabff;
}

h1,
h4{
    text-align: centre;
}

.submission{
    padding: 50px;
    border: 10px solid var(--uranian-blue);
    background-color: var(--vista-blue);
    border-radius: 20px;
}

.button{
    border: none;
    background-color: var(--periwinkle);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--royal-purple);
}
