.user-profile-view {
  text-align: center;
  padding: 10px;
  /* display: flex; */
  /* border: 1px solid white; */
  /* border-radius: 10px; */
  /* margin: 10px; */
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 25%;
  margin: auto;
  top:15%;
  border: 3px solid white;
}

.username-title {
  position: absolute;
  top: 0%;
  text-align: center;
  justify-content: center;
  /* font-weight: 2000; */
  color: var(--royal-purple);
}

.current-user-menu {
    position: absolute;
    top: 0%;
    right: 0%;
}

.current-user-profile {
    position: absolute;
    top: 0%;
    right: 0%;
    padding-top: 10px;
    padding-right: 10px;
    width: 20%;
    height: 20%;
}

img { 
    width: 100px;
    height: 100px;
    border-radius: 50%; 
}

.followers{
  position: absolute;
  left: 35%;
  top: 130px;
  display:inline-block;
}

.follower-label, .following-label, .follower-count, .following-count {
  font-size: 20px;
  font-weight: 700;
}

.follower-count, .following-count {
  position: relative;
  left: -4%; /* center that mf */
}


.Blurb h2{
  /* position: relative; */
  /* text-align: center; */
  /* justify-content: center; */
  position: absolute;
  top: 190px;
  left: 35%;
  font-style: italic;
  font-size: large;
}

/* .Blurb { 
  position: absolute;
  top: 110px;
  left: 60%;
  padding: 5px;
} */

/* .Blurb h2{
  font-size: 400;
}

.Blurb h3{
  font-style: italic;
} */
.socialMedia {
  position: static;
  left:35%;
  top: 200px;
  padding: 10px;
  border-radius: 2px;
  display: flex;
}

/* Set a specific color for each brand */
/* Facebook */
.facebook {
  padding: inherit;
  flex: 33.33%;
  padding: 1px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.twitter {
  padding: inherit;
  flex: 33.33%;
  padding: 1px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;

}

.instagram {
  padding: inherit;
  flex: 33.33%;
  padding: 1px;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.btn {
  background-color: DodgerBlue;
  /* Blue background */
  border: none;
  /* Remove borders */
  color: white;
  /* White text */
  padding: 12px 16px;
  /* Some padding */
  font-size: 16px;
  /* Set a font size */
  cursor: pointer;
  /* Mouse pointer on hover */
}

.edit-profile-btn {
  padding: 20px;
  padding-top: 10px; padding-bottom: 10px;
  position: absolute;
  top:130px;
  left: 50%;
  font-size: medium;
}

.edit-profile-btn:hover {
  background-color: #d8d8d2;
}
/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.fa {
  padding: 10px;
  font-size: 100px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}


