.user-profile-view {
    text-align: center;
}

.username-title {
    position: absolute;
    top: 0%;
    text-align: center;
    justify-content: center;
}

.current-user-menu {
    position: absolute;
    top: 0%;
    right: 0%;
}

.current-user-profile {
    position: absolute;
    top: 0%;
    right: 0%;
    padding-top: 10px;
    padding-right: 10px;
    width: 20%;
    height: 20%;
}

